:root {
	--r-main-font: -apple-system, BlinkMacSystemFont, sans-serif;
	--r-heading-font: -apple-system, BlinkMacSystemFont, sans-serif;
	--r-heading1-size: 4rem;
	--r-heading-font-weight: 600;
	--r-code-font:
		"Fira Code", "SF Mono", SF Mono, Consolas, "Liberation Mono", Menlo, Courier, monospace;
	--r-heading3-size: 2rem;
}

.reveal blockquote.pull-quote {
	box-shadow: none;
	font-family: serif;
	font-size: 24px;
	text-align: left;
	width: 60%;
}

.reveal blockquote.pull-quote.prompt {
	background-color: lightblue;
	border-radius: 15px;
	font-family: var(--r-code-font);
	font-size: 20px;
	font-style: normal;
	padding: 0 1em;
}

.reveal :is(p, li, h3) code {
	font-family: var(--r-code-font);
	color: orange;
}
